<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(ProjectDashboard.Shared.Components.Pages.Dashboard).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(ProjectDashboard.Shared.Components.Layout.DashboardLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="typeof(ProjectDashboard.Shared.Components.Layout.DashboardLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
